.home{
    background-color: #ffffff;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Slider{
    background-color: #49A9F8;
    height: 790px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Text1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    animation: brilho 2s linear infinite;
}

.Text1 h3{
    font-family: "Roboto";
    margin-top: 30px;
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    
}

.Text1 h1{
    margin-top: 30px;
    margin-bottom: -20px;
}


.Carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content{
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    height: 930px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.Text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

.Text2 h1{
    font-size: 50px;
    margin-bottom: 5px;
    color: #0f0049;
    font-family: "roboto", sans-serif;
    font-weight: 700;
}

.Text2 h3{
    color: #908c8c;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    text-indent: 65px;
}

.board{
    margin-left: 0px;
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center; /* Centraliza o grid horizontalmente */
    width: 80%;
    height: auto;
}
.pic{
    width: 16.7vw;
    height: 22vw;
    border-radius: 20px;
    box-shadow: 0 2px 5px #0000006d;
    margin-right: 20px;
}


.Carousel{
    margin-top: 30px;
}

.Ap{
    width: 280px;
    height: 280px;
    border: 4px solid #49A9F8;
    transition: filter 0.3s;
    
}

@keyframes brilho {
    0% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
    50% { text-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }
    100% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
}

.card{
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px #0000006d;
}

.card:hover {
    transform: scale(1.1); /* Aumenta em 10% */
}

.text{
    font-family: "Roboto";
    margin-top: -9px;
    padding-top: 0;
    font-style: italic;
    font-family: "roboto";
    background-color: #49A9F8;
    text-align: center;
    color: white;
    font-weight: 700;
    z-index: 4;
}




