.home{
    background-color: #ffffff;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Slider{
    background-color: #49A9F8;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.imginst{
    width: 120px;
    height: 120px;
    margin-right: 50px;
    margin-left: 50px;
}

.Text1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    animation: brilho 2s linear infinite;
    padding-top: 50px;
}

.Text1 h1{
    font-size: 72px;
}

.Text1 h3{
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-size: 22px;
    
}



.Carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content{
    background-color: #ffffff;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.Text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Text2 h1{
    font-size: 50px;
    margin-bottom: 5px;
    color: #0f0049;
    font-family: "roboto", sans-serif;
    font-weight: 700;
}

.Text2 h3{  
    color: #908c8c;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    text-indent: 65px;
}

.board{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


}

.Carousel{
    margin-top: 30px;
}

.Ap{
    width: 280px;
    height: 280px;
    border: 4px solid #ffffff;
    transition: filter 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    
    
}

@keyframes brilho {
    0% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
    50% { text-shadow: 0 0 20px rgba(255, 255, 255, 0.7); }
    100% { text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
}

.card{
    transition: transform 0.3s ease;
    background-color: #ffffff;
}

.card:hover {
    transform: scale(1.1); /* Aumenta em 10% */
}

.button {
    font-family: "Roboto";
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: "roboto";
    background-color: #49A9F8;
    text-align: center;
    color: white;
    font-weight: 700;
    z-index: 4;
    font-size: medium;
}
.btnicon{
    padding-top: 4px;
    margin-right: 10px;
}

.Content2{
    margin-top: 70px;
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: column;
}

.view{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.textview{
    text-align: start;
    color: #0f0049;
    width: 50%;
}
.textview h1{
    font-size: 52px;
    padding-bottom: 15px;
}
.textview h3{
    font-size: large;
    color: #0f0049;
    font-size: 22px;
    padding-bottom: 10px;
}

.imgart{
    width: 520px;
    height: 240px;
}







